node_modules
**/node_modules
client/dist
.git
.gitignore
.env
.env.*
*.log
npm-debug.log*
.DS_Store
docs
README.md
LICENSE
Dockerfile
docker-compose.yml
.dockerignore
server/uploads/*
!server/uploads/.gitkeep
